<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Host maps</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
  <style type="text/css">
  	* {
  		margin: 0px;
  		padding: 0px;
  	}
    body {
        background-color: #cccccc8f; 
    }
    nav {
        position: fixed;
        top:0px;
        overflow: hidden;
    }
  </style>
  <script type="text/javascript">
    function logout(){
        postRequest("/userLoginOut/",{},false,logoutResult);
    }
    function logoutResult(ret){
        if(ret['ret'] == true){
            window.location.href ="/login/";
        }
    }
    function addHost(elem) {
        var html = "";
        html += '<div class="item"><div class="item-nav" style="height: 36px">';
        html += '<button class="remove" onclick="removeAdd(this)">×</button></div>';
        html += '<div class="item-content"><ul class="item-li">';
        html += '<li class="li-add">主机名:<span contenteditable="true" class="hostName span-edit"></span></li>';
        html += '<li class="li-add">ip地址:<span contenteditable="true" class="hostIp span-edit"></span></li>';
        html += '<li class="li-add">端口号:<span contenteditable="true" class="hostPort span-edit"></span></li>';
        html += '</ul><div class="alter-info">';  
        html += '<button onclick="addHostSubmit(this)" class="btn btn-primary" name="submit">提交</button>';   
        html += '<button onclick="removeAdd(this)" class="btn btn-warning">撤销</button>';       
        html += '</div></div></div>';
        $(".content-add").before(html);
        $(".li-add").css("border-bottom","none"); 
        $(".hostName[contenteditable='true']").focus();
    }
    function addHostSubmit(elem){
        var item = $(elem).parents(".item-content");
        var hostName = item.find(".hostName").text();
        var hostIp = item.find(".hostIp").text();
        var hostPort = item.find(".hostPort").text();
        data = {'hostName': hostName, 'hostIp': hostIp, 'hostPort': hostPort};
        //alert(hostName)
        //alert(hostIp)
        //alert(hostPort)
        postRequest("/addHost/",data,true,addHostResult);
    }

    function addHostResult(ret) {
        if(ret['ret'] == true){
            alert("成功添加主机信息!");
            location.reload()
        }else{
            alert("添加主机信息失败!");
            location.reload()
        }
    }

    function alterHost(elem) {
        var item = $(elem).parents(".item").children().eq(1).children(".item-li").find("li");
        var itemBtn = $(elem).parents(".item").children().eq(1).children(".alter-info");
        item.children("span").addClass("span-edit");
        item.children("span").attr("contenteditable","true");
        item.css("border-bottom","none");
        item.filter(".enter-li").css("display","none");
        itemBtn.css("display","flex");
    }

    function alterSubmit(elem){
        var item = $(elem).parents(".item-host");
        var hostId = item.parents(".item").attr("data-tid");
        var hostName = item.find(".hostName").text();
        var hostIp = item.find(".hostIp").text();
        var hostPort = item.find(".hostPort").text();
        data = {'hostId':hostId, 'hostName': hostName, 'hostIp': hostIp, 'hostPort': hostPort};
        //alert(hostId)
        //alert(hostIp)
        //alert(hostPort)
        postRequest("/updateHost/",data,true,alterHostResult);
    }

    function alterHostResult(ret){
        if(ret['ret'] == true){
            alert("成功修改主机信息!");
            location.reload()
        }else{
            alert("修改主机信息失败!");
            location.reload()
        }
    }
    function delHost(elem) {
        //comfirm to delete host?
       var reply = confirm("您确认要删除吗?")
       if(reply == true){
            var hostId = $(elem).parents(".item").attr("data-tid");
            //alert(hostId);
            data = {'hostId': hostId}
            postRequest("/delHost/",data,true,delHostResult);
        }else{
            alert("你取消了删除操作!")
        }
    }
    function delHostResult(ret){
        if(ret['ret'] == true){
            alert("删除主机信息成功!");
            location.reload()
        }else {
            alert("删除主机信息失败!");
        }
    }
    function alterReset(elem) {
        var items = $(elem).parent().parent().find(".item-li span");
        items.text("");
    }
    function alterAbort(elem) {
        location.reload()
    }
    function removeAdd(elem) {
        $(elem).parents(".item").remove();
    }

function filterHost() {
    var keyWords = $("input[name='sinput']").val();
    //alert(keyWords)
    getRequest("/filterHost/", "keyWords="+keyWords, true, filterHostResult);
}
function enterSearch(){
    $("input[name = 'sinput']").keydown(function(event){  
        if(event.which == "13")      
            filterHost(); 
    })
}
function filterHostResult(ret) {
    if(ret) {
        var newDoc = document.open("text/html", "replace");
        newDoc.write(ret);
        newDoc.close();
    }
}
   /* function btnClick(){
        $("btn-fade").click(function(){
            $("this").css("background-color","#00f");
        });
    }*/
  </script>
  </head>
  <body>
    <nav>
        <button type="text" onclick="logout()" class="btn btn-link logout" style="float: right;font-size: 20px;color:black;">注销>></button>
    </nav>
    <div class="search">
    <input type="text" onfocus="enterSearch()" placeholder="搜索..." name="sinput" class="sinput">
    <input type="button" onclick="filterHost()" class="sbt" name="search" value="搜索">
	</div>
    <div class="container">    	
    {% include 'host.html' %}
    <div  class="content-add">
    <button onclick="addHost(this)" class="new-host btn-fade">+</button> 
    </div>
    <div class="bottom-add">
        <button onclick="addHost(this)" class="new-host btn-fade" style="margin: auto 50px;">+</button>
    </div>
    <script src="/static/js/jquery-1.12.4.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/ajax.js"></script>
    <script src="/static/js/text-utils.js"></script>
  </body>
</html>